.text-normal-container .text {
  font-size: 2rem;
  white-space: pre-line;
}

.text-normal-container .text:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
