.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(195, 100%, 50%, 0.8);
  background-image: radial-gradient(
      at 0% 57%,
      hsla(120, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 2% 87%, HSLA(55,0%,82%,1) 0px, transparent 50%),
    radial-gradient(at 44% 45%, hsla(0, 0%, 100%, 1) 0px, transparent 50%);
}

.about-container .intro-self {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.about-container .name {
  color: black;
  font-size: 2rem;
}

.about-container .contacts {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-container .frame-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .about-container .intro-self, .frame-avatar {
    scale: 0.9;
    margin-top: 50px;
  }
}
