.button-light-container {
    background-color: black;
    width: fit-content;
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: 0 0 5px #16b1d0, 0 0 0px #369daf, 0 0 10px #16b1d0;
    transition: transform 1s ease;
}

.button-light-container:hover {
    transform: scale(0.9) rotate(3deg);
    transition-duration: 0.5s;
}